.Header {
    width: 100vw;
    height: max-content;
    min-height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    padding-top: 30px;
}

