.Header {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-image: url("../../../assets//logo/portfolio-header-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    padding-top: 30px;
}

