.NavItem{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 400ms;
    cursor: pointer;
}

.NavItem:hover {
    background-color: var(--bg-color2);
}

.NavItem a {
    color: black;
}

.NavItem__hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    position: absolute;
    background-color: var(--bg-color2);
    left: -230px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--neutral-color);
    box-shadow: 1px 1px 3px var(--bg-color2);
    text-shadow: 1px 1px 2px black;
}

@media (max-width: 950px) {
    .NavItem__hover {
        display: none;
    }
}
