.ProjetosItem {
    width: 360px;
    height: 480px;
    background-color: var(--bg-color);
    overflow: hidden;
    border-radius: 5px;
}

.projetosCardHeader {
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.projetosCardHeaderLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.3rem;
    color: var(--secundary-color);
}

.projetosCardTitle {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projetosCardTitle h2 {
    font-weight: 500;
    color: var(--neutral-color);
}

.projetosCardTitle p {
    color: var(--neutral-color);
    font-size: 11px;
}

.projetosCardImage {
    width: 100%;
    height: 260px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.projetosCardImage img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.projetosCardFooter {
    padding: 20px;
    color: var(--neutral-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 140px;
}

.projetosCardFooter {
    font-size: 14px;
}

.projetosCardFooterLinks {
    display: flex;
    gap: 10px;
}

.projetosCardFooterLinks a {
    text-decoration: none;
    background-color: var(--secundary-color);
    color: var(--bg-color);
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 5px;
}