.SobreText {
    position: absolute;
    width: 50%;
    z-index: 50;
    top: 210px;
    text-align: center;
}

.SobreText h2 {
    font-size: 2rem;
    color: var(--secundary-color);
    text-shadow: .5px .5px 1px var(--neutral-color);
    margin-bottom: 10px;
}

.SobreText p {
    color: var(--neutral-color);
    font-size: 1.3rem;
}

.SobreText__cvBtn {
    width: 50%;
    height: 60px;
    background-color: var(--secundary-color);
    color: var(--bg-color2);
    font-size: 1.3rem;
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .SobreText {
        width: 70%;
    }
}

@media (max-width: 800px) {
    .SobreText {
        width: 95%;
    }

    .SobreText h2 {
        font-size: 1.5rem;
    }

    .SobreText p {
        font-size: 1rem;
    }
}