.HeaderContent {
    width: 60%;
    height: 100%;
    display: flex;
    transition: 600ms;
}

.HeaderContent__Apresentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* CSS */
.button-53 {
    background-color: var(--bg-color2);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: var(--neutral-color);
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: 2rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 1000ms;
    transform: rotate(-2deg);
}

.button-53:focus {
    outline: 0;
}

.button-53:after {
    content: '';
    position: absolute;
    border: 1px solid var(--primary-color);
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .button-53 {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}

.HeaderContent__Apresentation img {
    margin-top: 10px;
    margin-bottom: 30px;
    transition: 600ms ease-in-out;
}

.HeaderContent__ContactBtn {
    background-color: var(--secundary-color);
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
    color: var(--bg-color);
    cursor: pointer;
}

@media (max-width: 1200px) {
    .HeaderContent {
        width: 95%;
    }
}

@media (max-width: 950px) {
    .HeaderContent {
        width: 100%;
        padding-top: 50px;
    }
    .button-53 {
        width: 80%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 650px) {
    .HeaderContent {
        padding-top: 150px;
    }
}