.ProjetosCard {
    display: flex;
    width: 300px;
    height: 460px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
}

.ProjetosCard img {
    width: 100%;
    height: 400px;
    transition: 400ms;
}

.ProjetosCard img:hover {
    opacity: .5;
}

.ProjetosCard__title {
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    top: 10px;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 2px black;
    transition: 400ms;
}

.ProjetosCard__tecnologias {
    position: absolute;
    width: 100%;
    min-height: 100px;
    bottom: 60px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    transition: 400ms;
}


.ProjetosCard__navLinks {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 15px;
    transition: 400ms;
    cursor: pointer;
}

.ProjetosCard__navLinks a {
    font-size: 2rem;
    color: var(--neutral-color);
}

.ProjetosCard__navLinks__link:hover {
    color: var(--primary-color);
}