.Nav {
    position: fixed;
    width: 70px;
    height: 100vh;
    background-color: var(--neutral-color);
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 50px 0;
    transition: 400ms;
    right: "0";

}

.Nav__items {
    padding-top: 25px;
    font-size: 2rem;
    width: 100%;
}


.Nav__socialLinks, .Nav__items {
    list-style: none;
    display: flex;
    flex-direction: column;
}


.Nav__socialLinks {
    gap: 25px;
}

.Nav__socialLinks a {
    color: black;
}

.menu {
    position: fixed;
    top: 5px;
    right: 15px;
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
    display: none;
}

.Nav__socialLinks__item {
    font-size: 2.7rem;
    transition: 400ms;
    cursor: pointer;
}

.Nav__socialLinks__item:hover {
    color: var(--primary-color);
}


@media (max-width: 950px) {
    .menu {
        display: block;
    }
}