@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root {
  --bg-color: #282a36;
  --bg-color2: #44475a;
  --neutral-color: #f8f8f2;
  --primary-color: #ff5555;
  --secundary-color: #50fa7b;
  --text-color: #bd93f9;
  --text-color2: #ffb86c;
  --text-color3: #f1fa8c;
  --text-color4: #ff79c6;
}

html {
  scroll-behavior: smooth;
  max-width: 1440px;
}

body {
  overflow-x: hidden;
  width: 100vw;
  background: #000 url("./assets/logo/portfolio-bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-position: center;
  background-size: 100%;
  background-size: cover;
}