@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  --bg-color: #282a36;
  --bg-color2: #44475a;
  --neutral-color: #f8f8f2;
  --primary-color: #ff5555;
  --secuntary-color: #50fa7b;
}

body {
  background-color: var(--neutral-color);
}